<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- ====================================================== -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='/layui/dist/css/layui.css') }}"  media="all">
    <!-- ====================================================== -->
    <title>Excel Online</title>
</head>
<body>
    <div style="padding: 20px; background-color: #ffffff;">
        <!-- ============================================================================ -->
        <!-- <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
            <legend>上传模版/空表</legend>
            <div style="padding-left: 20px;">
                <br>&nbsp;&nbsp;&nbsp;请登录, 以访问数据库 ... ... <br><br>
            </div>
        </fieldset> -->
        <!-- ============================================================================ -->
        <!-- <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
            <legend>更改/查看表格</legend>
            <div style="padding-left: 20px;">
                <br>&nbsp;&nbsp;&nbsp;请登录, 以访问数据库 ... ... <br><br>
            </div>
        </fieldset> -->
        <!-- ============================================================================ -->
          <!-- <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px; margin-left: 25%;margin-right: 25%;"> -->
        <!-- <fieldset class="layui-elem-field site-demo-button" style="margin-top: 15% ;margin-left: 30%;margin-right: 30%;"> -->
          <fieldset class="layui-elem-field site-demo-button" style="margin: 15% 35%;">
            <legend>操作员</legend>
            <div style="margin-top: 6.5%; margin-bottom: 6.5%; text-align: center; margin-left: 13%; margin-right: 13%;">
                <!-- {{login_section | safe}} -->

                <form class="layui-form layui-form-pane" action="/login" method="post" >

                    <div class="layui-form-item">
                        <label class="layui-form-label">账户</label>
                        <div class="layui-input-inline">
                            <input type="text" name="operator_name" lay-verify="required" placeholder="username" autocomplete="off" class="layui-input">
                        </div>
                        <div style="float: right;" class="layui-form-mid layui-word-aux">用户名为必填</div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="operator_pass" lay-verify="required" placeholder="password" autocomplete="off" class="layui-input">
                        </div>
                        <div style="float: right;" class="layui-form-mid layui-word-aux">&nbsp;登陆以开始...</div>
                    </div>

                    <div>
                      <button type="submit" class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="demo1">立即登陆</button>
                      <!-- <button type="submit" class="layui-btn " lay-submit="" lay-filter="demo1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;立即登陆&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button> -->
                      <!-- <button type="reset"  class="layui-btn layui-btn-primary">重置</button> -->
                      <!-- <button type=""       class="layui-btn layui-btn-disabled" disabled>注册</button> -->
                    </div>

                </form>

            </div>
        </fieldset>
        <!-- ============================================================================ -->
    </div>
    <!-- <script src="{{ url_for('static', filename='/layui/dist/layui.js') }}" charset="utf-8"></script> -->
    <!-- <script>
        layui.use(['form', 'layedit', 'laydate'], function(){
          var form = layui.form
          ,layer = layui.layer
          ,layedit = layui.layedit
          ,laydate = layui.laydate;
          
          //日期
          laydate.render({
            elem: '#date'
          });
          laydate.render({
            elem: '#date1'
          });
          
          //创建一个编辑器
          var editIndex = layedit.build('LAY_demo_editor');
         
          //自定义验证规则
          form.verify({
            title: function(value){
              if(value.length < 5){
                return '标题至少得5个字符啊';
              }
            }
            ,pass: [
              /^[\S]{6,12}$/
              ,'密码必须6到12位，且不能出现空格'
            ]
            ,content: function(value){
              layedit.sync(editIndex);
            }
          });
          
          //监听指定开关
          form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
              offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
          });
          
          //监听提交
          form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
              title: '最终的提交信息'
            })
            return false;
          });
         
          //表单赋值
          layui.$('#LAY-component-form-setval').on('click', function(){
            form.val('example', {
              "username": "贤心" // "name": "value"
              ,"password": "123456"
              ,"interest": 1
              ,"like[write]": true //复选框选中状态
              ,"close": true //开关状态
              ,"sex": "女"
              ,"desc": "我爱 layui"
            });
          });
          
          //表单取值
          layui.$('#LAY-component-form-getval').on('click', function(){
            var data = form.val('example');
            alert(JSON.stringify(data));
          });
          
        });
    </script> -->
</body>
</html>