<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- ====================================================== -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='/layui/dist/css/layui.css') }}"  media="all">
    <!-- ====================================================== -->
    <title>Excel Online</title>
</head>
<body>
    <div style="padding: 20px; background-color: #ffffff;">
        <!-- ============================================================================ -->
        <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
            <legend>上传模版/空表</legend>
            <div>
                <br>
                <form action="/file" method="post" enctype="multipart/form-data" style="margin-left: 20px;">
                    <input type="file" name="stuff_file"  id=""><br><br>
                    <input type="submit" class="layui-btn"value="上传文件">
                </form>
                <br>

            </div>
        </fieldset>
        <!-- ============================================================================ -->
        <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
            <legend>更改/查看表格</legend>
            <div>
                <br>
                <form action="/table/all" method="post" style="margin-left: 20px;">
                    <input type="submit" class="layui-btn" value="打开表格">
                </form>
                <br>
            </div>
        </fieldset>

        <!-- ============================================================================ -->
        <br><br><hr>
        <!-- <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;"> -->
        <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-left: 25%;margin-right: 25%;">
            <legend>操作员</legend>
            <br>
            <div>
                <form class="layui-form layui-form-pane" action="/" method="post" style="margin-left: 20px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="operator_name" readonly lay-verify="required" placeholder="{{operator_name}}" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">已登陆...</div>

                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="operator_pass" readonly lay-verify="required" placeholder="{{operator_date}}" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="operator_pass" readonly lay-verify="required" placeholder="{{operator_time}}" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <button type="submit" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="demo1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;退出登录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    <br>
                <br>
            </div>
        </fieldset>
        <!-- ============================================================================ -->
    </div>
    <!-- <script src="{{ url_for('static', filename='/layui/dist/layui.js') }}" charset="utf-8"></script> -->
</body>
</html>