<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel Online</title>
</head>
<body>
    <div>
        <h2>上传文件</h2>
        {{fileUpload_section | safe}}
    </div>
    <br><hr>
    <div>
        <h2>添加/查看数据</h2>
        {{insert_section | safe}}
        
    </div>
    <br><hr>
    <div>
        <h2>删除数据库</h2>
        {{delete_section | safe}}
        
    </div>
    <br><hr>
    <div>
        <h2>操作员登陆</h2>
        {{login_section | safe}}
        
    </div>
    


</body>
</html>