<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- ====================================================== -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='/layui/dist/css/layui.css') }}"  media="all">
    <!-- ====================================================== -->
    <title>Excel Online</title>
</head>
<body>
    <!-- Main Body -->
    <div style="padding: 20px; background-color: #ffffff;">
        <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
            <legend>您还未登陆</legend>
            
            <div style="margin-left:30px">
                <br>
                {{message}}
                <br>
            </div>
            <br>
        </fieldset>
    </div>
    <!-- Auto Re-Direct -->
    <form action="/redirect" name="form1" method="post"></form>
    <script type="text/javascript">setTimeout("form1.submit();",1000);</script>
</body>
</html>
