<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- ====================================================== -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/dist/css/layui.css') }}"  media="all">
    <!-- <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> -->
    <script src="{{ url_for('static', filename='jquery/min.js') }}"></script>
    <style type="text/css">
        /*<!-- 居中的样式 -->*/
        /* .table_mask {
            position: relative;
            height: 1080px;
            }
        .table_center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1920px;
            height: 1000px;
        } */
        .table_mask {
            position: relative;
            height: 85vh;
            }
        .table_center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1920px;
            height: 82vh;
        }
        /* .layui-table-cell{overflow: visible !important;} */
        /* td .layui-form-select{ margin-top: -10px; margin-left: -15px; margin-right: -15px;}    */
    </style>
    <title>Excel Online</title>
</head>
<body>
    <!-- ====================================================== -->

    <div style="padding: 20px; background-color: #ffffff;">
        <!-- <form action="/table/all" method="get" style="padding-left: 10px;">
            <button style="display: inline; float: left;" type="submit" class="layui-btn layui-btn-primary layui-btn-m layui-btn-radius" lay-submit="" lay-filter="demo1"> 返回全部表格 </button>
        </form> -->
        <button onclick="check_user_info()" type="submit" class="layui-btn layui-btn-primary layui-btn-m layui-btn-radius" style="float: right; display: inline;">{{session['nickname']}}</button>
        <br>
        <fieldset class="layui-elem-field " style="margin-top: 30px; ">
            <legend>中信银行填报系统</legend>
            <div class="table_mask">
                <!-- 以上为居中设置 -->
                <div class="table_center" style="width:95%;">

                    <table id="_MAIN_TABLE_RENDER_ID_" lay-filter="_MAIN_TABLE_RENDER_FILTER_" ></table>
                    <br>
                    <div>
                        <span>
                            <div id="page_component" style="display: inline; float: right; margin-right: 30px;"></div>
                            <form action="/file" method="post" id="file_form_1" enctype="multipart/form-data" style="display: inline; float: left; ">
                                <input type="file" accept=".xls,.xlsx" name="stuff_file"  id="selectedFile_1" size="60" style="display: none;">
                                <input style="display: {{file_upload_section}};" type="button" class="layui-btn " value="提交任务" onclick="document.getElementById('selectedFile_1').click();" />
                            </form>
                        </span>
                    </div>
                </div>
                <!-- 以下为居中设置 -->
            </div>
        </fieldset>
    </div>

    <!-- ====================================================== -->
    <!-- layui的默认js文件 (包含一些基本的样式和动画) -->
    <script src="{{ url_for('static', filename='layui/dist/layui.js') }}" charset="utf-8"></script>

    <!-- Laytpl 模版引擎 解析字符成HTML代码 -->
    <!-- <script id="_demo_" type="text/html"> -->
    <script>String.prototype.format =function () {var args = arguments;return this.replace(/\{(\d+)\}/g, function(m, i){return args[i];});};</script>

    <!-- Html表格的自动渲染设置 -->
    <script>
        layui.use(['table', 'laytpl','layer'], function(){
            var laytpl= layui.laytpl;
            var table = layui.table;
            
            //更改Layui模版组件的的分隔符
                // laytpl.config({          // 经过测试不可使用 （和Jinja2渲染分隔符冲突）
                //     open:  '<%%',        // 改为使用 \{\{""\}\} 转义成为string格式
                //     close: '%%>'         // 例子：
                // });                      // \{\{" \{\{<div> Hello World ! </div>\}\} "\}\}
            //选择被渲染的表格元素
            table.render({
                title: "中信银行填报系统"
                ,elem: '#_MAIN_TABLE_RENDER_ID_'
            //高宽设置
                // ,width:  1920                    //1080p
                // ,height: 950                     //1080p
                ,height : window.innerHeight*0.75    //自适应-1
                // ,height :85vh                    //自适应-2
            //分页
                ,page: true                         //开启分页
                ,limit: 20                          //每页条数
                // ,page: {theme: '#c00'}           //开启分页主题
                ,limits:[5,10,15,20]           //分页选项

            //数据接口
                ,url: '/api/dataMain'               //数据接口
            
            // ----------------------------------------
            //表头设置 （渲染的时候会根据这里设置的field为单元格设置样式）     
                ,cols: [[    
                    {field: 'tb_name',              title: '任务名',   width:300, sort: true, unresize:false, align:'center', fixed: 'left'}, 
                    {field: 'upload_operator',      title: '上传用户', width:150, sort: true, unresize:true, align:'center',}, 
                    {field: 'upload_time',          title: '上传时间', width:250, sort: true, unresize:true, align:'center',}, 
                    {field: 'due',                  title: '截止日期', width:250, sort: true, unresize:true, align:'center',}, 
                    // {field: 'count_uncompleted',    title: '未完成行数'}, 
                    {field: 'count_completed',      title: '完成行数', width:150, unresize:true, align:'center',}, 
                    {field: 'count_total',          title: '总计行数', width:150, unresize:true, align:'center',}, 
                    {field: 'percentage',           title: '完成度'  , width:150, unresize:true, align:'center',}, 
                    // {field: 'url_edit',             title: '', width:100, unresize:true, align:'center', fixed:'right',}, 
                    // {field: 'url_edit_mustFill',    title: '', width:100, unresize:true, align:'center', fixed:'right',}, 
                    // {field: 'url_edit_dueNComment', title: '', width:100, unresize:true, align:'center', fixed:'right',}, 
                    // {field: 'url_delete',           title: '', width:100, unresize:true, align:'center', fixed:'right',}, 


                    // 每行中每个表格的右侧工具栏
                    // {% if not is_admin %}
                    {title: '编辑', fixed:'right', width:100, align:'center',toolbar:'#LAYTUI_ROW_TOOLBAR_EDIT'},
                    // {title: '编辑', fixed:'right', width:70, align:'center',toolbar:'#LAYTUI_ROW_TOOLBAR_EDIT'},
                    // {title: '设置', fixed:'right', width:200, align:'center',toolbar:'#LAYTUI_ROW_TOOLBAR_SETTING'},
                    // {% else %}
                    {title: '编辑/设置', fixed:'right', width:240, align:'center',toolbar:'#LAYTUI_ROW_TOOLBAR_EDIT_N_SETTING'},
                    {title: '操作', fixed:'right', width:120, align:'center',toolbar:'#LAYTUI_ROW_TOOLBAR_ACTION'},
                    // {% endif %}
                ]]
                
            });

            //监听排序事件 
            table.on('sort(_MAIN_TABLE_RENDER_FILTER_)', function(obj){ 
                console.log('监听到重新排序:')
                console.log('\t'+this);             //当前排序的 th 对象 (HTNL元素)
                console.log('\t'+obj.field);        //当前排序的字段名
                console.log('\t'+obj.type);         //当前排序类型 asc/desc/null
                
                //根据当前排序的字段，重新向服务端发送请求
                table.reload('_MAIN_TABLE_RENDER_ID_', {
                    initSort: obj                   //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                    ,url: '/api/dataMain'           //服务端的异步数据接口
                    ,where: {                       //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                        field: obj.field            //排序字段
                        ,order: obj.type            //排序方式
                    }
                });
                
                //弹窗提示数据已经重新加载
                // layer.msg('服务端排序。<br> 排序列:'+ obj.field + '， 排序方式:' + obj.type, {time:1000});
            });

            //监听行工具栏事件
            table.on('tool(_MAIN_TABLE_RENDER_FILTER_)', function(obj){
                var data = obj.data;        // 获取当前行的数据
                var event = obj.event;      // 获取事件名称
                var row = obj.tr;           // 获取当前行

                if(event == 'DELETE_TABLE_EVENT'){ //删除表格
                    layer.confirm('确定删除表单：' + data['tb_name'] + '?', function(index){obj.del(); layer.close(index);})
                }

            });
        });


    </script>
    <script type="text/html" id="LAYTUI_ROW_TOOLBAR_EDIT">
        <!-- 每行最右侧toolbar对应的模版: 其中的编辑按钮 -->
        <a href="{{'{{d.url_edit}}'}}" class="layui-btn layui-btn-xs" lay-event="">编辑</a>
    </script>
    <script type="text/html" id="LAYTUI_ROW_TOOLBAR_SETTING">
        <!-- 每行最右侧toolbar对应的模版: 其中的设置相关按钮 -->
        <a href="{{'{{d.url_edit_mustFill}}'}}" class="layui-btn layui-btn-xs layui-btn-primary" lay-event="">必填列</a>
        <a href="{{'{{d.url_edit_dueNComment}}'}}" class="layui-btn layui-btn-xs layui-btn-primary" lay-event="">说明/截止日期</a>
    </script>
    <script type="text/html" id="LAYTUI_ROW_TOOLBAR_EDIT_N_SETTING">
        <!-- 每行最右侧toolbar对应的模版: 其中的编辑按钮 -->
        <!-- + -->
        <!-- 每行最右侧toolbar对应的模版: 其中的设置相关按钮 -->
        <a href="{{'{{d.url_edit}}'}}" class="layui-btn layui-btn-xs" lay-event="">编辑</a>
        <a href="{{'{{d.url_edit_mustFill}}'}}" class="layui-btn layui-btn-xs layui-btn-primary" lay-event="">必填列</a>
        <a href="{{'{{d.url_edit_dueNComment}}'}}" class="layui-btn layui-btn-xs layui-btn-primary" lay-event="">说明/截止日期</a>
    </script>
    <script type="text/html" id="LAYTUI_ROW_TOOLBAR_ACTION">
        <!-- 每行最右侧toolbar对应的模版: 其中的归档删除按钮 -->
        <a href="{{'{{d.XXXXXXXXX}}'}}" class="layui-btn layui-btn-xs layui-btn-primary" lay-event="">归档</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="DELETE_TABLE_EVENT">删除</a>
        <!-- <a href="{{'{{d.url_delete}}'}}" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="">删除</a> -->
    </script>


    <script>
        // 自动上传文件 （自动上传任务）
        document.getElementById("selectedFile_1").onchange = function() {
            document.getElementById("file_form_1").submit();
        };
    </script>
    <script>
        // 点击右上角用户名弹出的窗口
        // 可以进行登出，查看当前时间等操作
        function check_user_info(){
            layui.use('layer', function(){
                var layer = layui.layer;
                var d=new Date();
                var account_name = "{{session['nickname']}}"
                var account_date = d.toLocaleDateString();
                var account_time = d.toLocaleTimeString();
                layer.open({
                    title   :'用户信息'
                    ,content:
                        '账号: &nbsp; &nbsp;' + account_name + '<br>'+
                        '日期: &nbsp; &nbsp;' + account_date + '<br>'+
                        '时间: &nbsp; &nbsp;' + account_time 
                    ,btn: ['登出']
                    ,yes: function(index, layero){
                        window.location.assign('/')
                    }
                }); 
            });
        }
    </script>
    

</body>
</html>