<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- ====================================================== -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/dist/css/layui.css') }}"  media="all">
    <script src="{{ url_for('static', filename='jquery/min.js') }}"></script>
    <!-- ====================================================== -->
    <title>Excel Online</title>
</head>
<body>
    <!-- Main Body -->
    <div style="padding: 20px; background-color: #ffffff;">
        {% if return_aftFinish == "True" %}
        <form action="/table/all" method="get" style="padding-left: 10px;">
            <button style="display: inline; float: left;" type="submit" class="layui-btn layui-btn-primary layui-btn-m layui-btn-radius" lay-submit="" lay-filter="demo1"> 返回全部表格 </button>
        </form>
        {% else %}
        <form action="/table/all" method="get" style="padding-left: 10px;">
            <button style="display: inline; float: left;" type="submit" class="layui-btn layui-btn-primary layui-btn-m layui-btn-radius" lay-submit="" lay-filter="demo1" disabled> 正在上传表格... </button>
        </form>
        {% endif %}
        <button onclick="check_user_info()" type="submit" class="layui-btn layui-btn-primary layui-btn-m layui-btn-radius" style="float: right; display: inline;">{{session['operator_name']}}</button>

        <!-- <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;"> -->
        <fieldset class="layui-elem-field site-demo-button" style="margin: 10% 35%;">
            <!-- <legend>{{table_name}}</legend> -->
            <legend>填报设置</legend>
            <br>
            <h3 style="text-align: center;">请选择表格"{{table_name}}"的必填项:</h3>
            <br>
            <!-- ======================================================================== -->
            <form class="layui-form" action="" lay-filter="requiredTitles-form">

                <!-- 单选项 -->
                {% for title in table_titles %}
                {% if title in table_fixedTitles %}

                    {% if title in table_requiredTitles %}
                    <div class="layui-form-item" style="display: inline; position: relative; left: 20%;">
                        <label class="layui-form-label">{{title}}</label>
                        <div class="layui-input-block">
                            <!-- 预设列 (不可以更改) -->
                            <input type="checkbox" lay-skin="switch" lay-text="可改动|不可改" lay-filter="{{title}}" name="{{title}}" checked> 
                            <span class="ayui-form-label">&nbsp; &nbsp; (预设列)</span>
                        </div>
                    </div>
                    {% elif title == '行号'%}
                    <div class="layui-form-item" style="display: inline; position: relative; left: 20%;">
                        <label class="layui-form-label">{{title}}</label>
                        <div class="layui-input-block">
                            <!-- 预设列 (不可以更改) -->
                            <input type="checkbox" lay-skin="switch" lay-text="可改动|不可改" lay-filter="{{title}}" name="{{title}}" disabled> 
                            <span class="ayui-form-label">&nbsp; &nbsp; (索引列)</span>
                        </div>
                    </div>
                    {% else %}
                    <div class="layui-form-item" style="display: inline; position: relative; left: 20%;">
                        <label class="layui-form-label">{{title}}</label>
                        <div class="layui-input-block">
                            <!-- 预设列(可以更改) -->
                            <input type="checkbox" lay-skin="switch" lay-text="可改动|不可改" lay-filter="{{title}}" name="{{title}}"> 
                            <span class="ayui-form-label">&nbsp; &nbsp; (预设列)</span>
                        </div>
                    </div>
                    {% endif %}

                {% elif title in table_requiredTitles %}
                <div class="layui-form-item" style="display: inline; position: relative; left: 20%;">
                    <label class="layui-form-label">{{title}}</label>
                    <div class="layui-input-block">
                        <!-- 数据列 (必须填写) -->
                        <input type="checkbox" lay-skin="switch" lay-text="-必填-|-可省-" lay-filter="{{title}}" name="{{title}}" checked>
                    </div>
                </div>
                
                {% else %}
                <div class="layui-form-item" style="display: inline; position: relative; left: 20%;">
                    <label class="layui-form-label">{{title}}</label>
                    <div class="layui-input-block">
                        <!-- 数据列 (可省略)-->
                        <input type="checkbox" lay-skin="switch" lay-text="-必填-|可省-" lay-filter="{{title}}" name="{{title}}">
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <br>

                <!-- 全选/全空
                <div class="layui-form-item" style="display: inline; position: relative; left: 30%;">
                    <label class="layui-form-label">全部开启</label>
                    <div class="layui-input-block">
                    <input type="checkbox" lay-skin="switch" lay-filter="all_on" id="all_on">
                    </div>
                </div>
                <div class="layui-form-item" style="display: inline; position: relative; left: 30%;">
                    <label class="layui-form-label">全部关闭</label>
                    <div class="layui-input-block">
                    <input type="checkbox" lay-skin="switch" lay-filter="all_off" id="all_off">
                    </div>
                </div>
                <br> -->

                <!-- 提交按钮 -->
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0%;">
                    <button id="LAY-component-form-getval" class="layui-btn layui-btn-fluid" lay-submit lay-filter="*">确认提交</button>
                    <!-- <button type="reset" class="layui-btn layui-btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button> -->
                    </div>
                </div>
                <br>

            </form>
            <!-- ======================================================================== -->
        </fieldset>
    </div>

    <!-- Auto Re-Direct -->
    <!-- <form action="/table/show?table_name={{table_name}}" name="form1" method="post"></form> -->
    <!-- <script type="text/javascript">setTimeout("form1.submit();",1000);</script> -->

    <!-- Auto Direct -->
    <form action="{{finish_directURL}}" name="form1" method="get">
        <input type="hidden" name="table_name" value={{table_name}}>
    </form>
    <form action="/update_success/{{table_name}}" name="form2" method="get">
        <input type="hidden" name="table_name" value={{table_name}}>
    </form>

    <script src="{{ url_for('static', filename='layui/dist/layui.js') }}" charset="utf-8"></script>
    <script>
        layui.use('form', function(){
            var form = layui.form;

            //提交表单
            layui.$('#LAY-component-form-getval').on('click', function(){
                var raw_data = form.val('requiredTitles-form');
                var rtn_data = [];
                for (var prop in raw_data){
                    if(raw_data[prop]=="on"){rtn_data.push(prop)}
                }
                
                $.ajax({
                    url: '{{request_url}}/{{table_name}}',
                    type: "POST",
                    data: form.val('requiredTitles-form'),
                    dataType: "json",
                        // complete: function(){alert("Change saved !")}
                        // success : function(result){alert('Upload success')},
                        // error   : function(result){alert('Upload error')},
                })

                // if("{{return_aftFinish}}" == "True" || "{{return_aftFinish}}" == "true"){history.go(-1);}
                if("{{return_aftFinish}}" == "True" || "{{return_aftFinish}}" == "true"){setTimeout("form2.submit();",100);}
                else{setTimeout("form1.submit();",100);}

                alert("必填项已被保存")
            });
        });
    </script>
    <script>
        function check_user_info(){
            layui.use('layer', function(){
                var layer = layui.layer;
                var d=new Date();
                var account_name = "{{session['operator_name']}}"
                var account_date = d.toLocaleDateString();
                var account_time = d.toLocaleTimeString();
                layer.open({
                    title   :'用户信息'
                    ,content:
                        '账号: &nbsp; &nbsp;' + account_name + '<br>'+
                        '日期: &nbsp; &nbsp;' + account_date + '<br>'+
                        '时间: &nbsp; &nbsp;' + account_time 
                    ,btn: ['登出']
                    ,yes: function(index, layero){
                        window.location.assign('/')
                    }
                }); 
            });
        }
    </script>
    <script>
        var myVar=setInterval(function(){myTimer()},1000);
        function myTimer(){
            var d=new Date();
            var t=d.toLocaleTimeString();
            //document.getElementById("operator_time_display").placeholder=t;
        }
    </script>

</body>
</html>



