<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- ====================================================== -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/dist/css/layui.css') }}"  media="all">
    <!-- <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> -->
    <script src="{{ url_for('static', filename='jquery/min.js') }}"></script>
    <style type="text/css">
        /*<!-- 居中的样式 -->*/
        /* .table_mask {
            position: relative;
            height: 1080px;
            }
        .table_center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1920px;
            height: 1000px;
        } */
        .table_mask {
            position: relative;
            height: 85vh;
            }
        .table_center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1920px;
            height: 82vh;
        }
        /* .layui-table-cell{overflow: visible !important;} */
        /* td .layui-form-select{ margin-top: -10px; margin-left: -15px; margin-right: -15px;}    */
    </style>
    <title>Excel Online</title>
</head>
<body>
    <!-- ====================================================== -->

    <div style="padding: 20px; background-color: #ffffff;">
        <form action="/table/all" method="get" style="padding-left: 10px;">
            <button style="display: inline; float: left;" type="submit" class="layui-btn layui-btn-primary layui-btn-m layui-btn-radius" lay-submit="" lay-filter="demo1"> 返回全部表格 </button>
        </form>
        <br>
        <fieldset class="layui-elem-field " style="margin-top: 30px; ">
            <legend>表格: {{table_name}}</legend>
            <div class="table_mask">
                <div class="table_center" style="width:95%;">
                    <!-- 以上为居中设置 -->

                    <table id="_MAIN_TABLE_RENDER_ID_" lay-filter="_MAIN_TABLE_RENDER_FILTER_" ></table>

                    <!-- 以下为居中设置 -->
                </div>
            </div>
        </fieldset>
    </div>

    <!-- ====================================================== -->
    <!-- layui的默认js文件 (包含一些基本的样式和动画) -->
    <script src="{{ url_for('static', filename='layui/dist/layui.js') }}" charset="utf-8"></script>

    <!-- Laytpl 模版引擎 解析字符成HTML代码 -->
    <!-- <script id="_demo_" type="text/html"> -->
    <script>String.prototype.format =function () {var args = arguments;return this.replace(/\{(\d+)\}/g, function(m, i){return args[i];});};</script>

    <!-- Html表格的自动渲染设置 -->
    <script>
        layui.use(['table', 'laytpl','layer'], function(){
            var laytpl= layui.laytpl;
            var table = layui.table;
            //{% if first_entry == True %}
            //{% set first_entry = False %}
            console.log('{{first_entry}}')
            layer.open({
                title: '填报说明'
                ,content: "{{comment}}"
            });     
            //{% endif %}
            
            //更改Layui模版组件的的分隔符
                // laytpl.config({          // 经过测试不可使用 （和Jinja2渲染分隔符冲突）
                //     open:  '<%%',        // 改为使用 \{\{""\}\} 转义成为string格式
                //     close: '%%>'         // 例子：
                // });                      // \{\{" \{\{<div> Hello World ! </div>\}\} "\}\}
            //选择被渲染的表格元素
            table.render({
                title: "{{table_name}}"
                ,elem: '#_MAIN_TABLE_RENDER_ID_'
            //高宽设置
                // ,width:  1920                    //1080p
                // ,height: 950                     //1080p
                ,height : window.innerHeight*0.8    //自适应-1
                // ,height :85vh                    //自适应-2
            //分页
                ,page: true                         //开启分页
                ,limit: 20                          //每页条数
                // ,page: {theme: '#c00'}           //开启分页主题
                ,limits:[50,100,500,2000,1000000]          //分页选项

            //数据接口
                ,url: '/data/{{table_name}}'        //数据接口
            //数据解析 (将数据接口返回数据,解析成 table 组件所规定的数据格式)
                // ,parseData: function(res){ 
                    // return {
                                                   // res 为原始返回的数据
                        // "code": res.status,     // 解析接口状态
                        // "msg": res.message,     // ...提示文本
                        // "count": res.total,     // ...数据长度
                        // "data": res.data.item   // ...数据列表
                        // };}
            //初始排序（这里一般使用行号列作为默认排序）
                ,initSort:{field:'{{authorization_title}}', type:'asc'}
            //表格头部工具栏
            // ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            // ,defaultToolbar: ['filter', 'exports', 'print']
            ,toolbar: '#'
            ,defaultToolbar: [
                'filter', 
                // 'exports', 
                {title: '导出为csv',  layEvent: 'LAYTABLE_EXPORTALL_CSV',  icon: 'layui-icon-export'},
                {title: '导出为xlxs', layEvent: 'LAYTABLE_EXPORTALL_XLXS', icon: 'layui-icon-print'},
            ]

            // ----------------------------------------
            //表头设置 （渲染的时候会根据这里设置的field为单元格设置样式）     
                ,cols: [[         
                    // {% for _id_,_title_ in column_dict.items() %}
                    //      {% if _title_ == '_id' %}
                                // 隐藏每行特殊的 UUID (不是行号 !!!!)
                                {field: '{{_id_}}', title: '{{_title_}}', hide:true}, 
                                // {field: '{{_id_}}', title: '{{_title_}}', width:110},  
                    //      {% elif _title_ == authorization_title %}
                                // 每行的行号 (通过authorization_title参数获得)
                                {field: '{{_id_}}', title: '{{_title_}}', width:110, sort: true, unresize:true, align:'center', fixed: 'left'},
                    //      {% elif _title_ == operator_title[0] %}
                                // 操作员姓名
                                {field: '_', title: '', width:2000, style:'background-color: #fff; color: #fff; border-color: #fff'}, 
                                {field: '{{_id_}}', title: '{{_title_}}', width:110, sort: true, unresize:true, align:'center', fixed: 'right'},
                    //      {% elif _title_ == operator_title[1] %}
                                // 操作员时间
                                {field: '{{_id_}}', title: '{{_title_}}', width:200, sort: true, unresize:true, align:'center', fixed: 'right'},

                    // 多选/选择列 (原下拉框)
                    //      {% elif _title_ in table_meta['option_titles']%}
                    //          {% if _title_ in table_meta['mustFill_titles'] %}
                                    // {field: '{{_id_}}', title: '{{_title_}}', width:90, style:'background-color: blue;color: #fff;',templet: '#multiSelectTpl'},
                                    // {field: '{{_id_}}', title: '{{_title_}}', width:290, style:'background-color: blue; color: #fff;', templet: "#multiSelectTpl"},
                                    // {field: '{{_id_}}', title: '{{_title_}}', width:290, style:'background-color: #008B7D; color: #fff;', templet: '<div> {{"{{#var title=\'"+ _title_ +"\';}}"}} 已选择：{{"{{(d[title])}}"}}， <a style="color:#fff;text-decoration: underline overline;" href="\\multiChoice\\{{table_name}}\\{{_title_}}\\{{"{{d._id}}"}}" class="layui-table-link">前往更改 </a> </div>'},
                                    // {field: '{{_id_}}', title: '{{_title_}}', width:200, align:'center', style:'text-align:center; background-color: #008B7D; color: #fff;', templet: '<div> {{"{{#var title=\'"+ _title_ +"\'; var value = d[title]; var color=\"\#fff\"; if(value == null || value == \"\"){value=\"----\"; color=\"\#008B7D\";} }}"}}  <a style="color: {{"{{color}}"}}; display:block" href="\\multiChoice\\{{table_name}}\\{{_title_}}\\{{"{{d._id}}"}}" class="layui-table-link"> {{"{{value}}"}} </a> </div>'},
                                    {field: '{{_id_}}', title: '{{_title_}}', width:200, align:'center', style:'text-align:center; background-color: #F9D342; color: #000;', templet: '<div>{{"{{#var title=\'"+ _title_ +"\'; var value = d[title]; var color=\"\#000\"; if(value == null || value == \'\'){value=\"\"; color=\"\#F9D342\";} }}"}}<a style="min-height:100%; min-width:100%; color: {{"{{color}}"}}; display:block" href="\\multiChoice\\{{table_name}}\\{{_title_}}\\{{"{{d._id}}"}}" class="layui-table-link"><span>{{"{{value}}"}}</span></a></div>'},
                                    // {field: '{{_id_}}', title: '{{_title_}}',width:290,style:'background-color: blue; color: #fff;',templet: function(d)    return}},
                    //          {% else %}
                                    // {field: '{{_id_}}', title: '{{_title_}}', width:290, style:'background-color: #5FB878; color: #fff;', templet: '<div> {{"{{#var title=\'"+ _title_ +"\';}}"}} 已选择：{{"{{(d[title])}}"}}， <a style="color:#fff;text-decoration: underline overline;" href="\\multiChoice\\{{table_name}}\\{{_title_}}\\{{"{{d._id}}"}}" class="layui-table-link">前往更改 </a> </div>'},
                                    // {field: '{{_id_}}', title: '{{_title_}}', width:200, align:'center', style:'text-align:center; background-color: #5FB878; color: #fff;', templet: '<div> {{"{{#var title=\'"+ _title_ +"\'; var value = d[title]; var color=\"\#fff\"; if(value == null || value == \"\"){value=\"----\"; color=\"\#5FB878\";} }}"}}  <a style="color: {{"{{color}}"}}; display:block" href="\\multiChoice\\{{table_name}}\\{{_title_}}\\{{"{{d._id}}"}}" class="layui-table-link"> {{"{{value}}"}} </a> </div>'},
                                    {field: '{{_id_}}', title: '{{_title_}}', width:200, align:'center', style:'text-align:center; background-color: #f0f0f0; color: #000;', templet: '<div>{{"{{#var title=\'"+ _title_ +"\'; var value = d[title]; var color=\"\#000\"; if(value == null || value == \'\'){value=\"\"; color=\"\#f0f0f0\";} }}"}}<a style="min-height:100%; min-width:100%; color: {{"{{color}}"}}; display:block" href="\\multiChoice\\{{table_name}}\\{{_title_}}\\{{"{{d._id}}"}}" class="layui-table-link"><span >{{"{{value}}"}}</span></a></div>'},

                    //          {% endif %}
                                
                    // 预设列 (默认不可更改)    
                    //      {% elif _title_ in table_meta['fixed_titles'] %}
                                // 预设数据(可以更改)
                    //          {% if _title_ in table_meta['mustFill_titles'] %}
                                    // {field: '{{_id_}}', title: '{{_title_}}', width:190, edit:'text', style:"background-color:grey;color: #fff;"},
                                    {field: '{{_id_}}', title: '{{_title_}}', width:190, align:'center', edit:'text',style:'background-color: #f0f0f0; color: #000;'},
                                // 预设数据(不可以更改)
                    //          {% else %}
                                    {field: '{{_id_}}', title: '{{_title_}}', width:190, align:'center'},
                    //          {% endif %}

                    // 普通数据（分为必须填写和非必须）
                    //      {% elif _title_ in table_meta['mustFill_titles'] %}
                                // 必填数据 (展示为特殊颜色)
                                // {field: '{{_id_}}', title: '{{_title_}}', width:190, edit:'text', style:'background-color: red; color: #fff;'},
                                // {field: '{{_id_}}', title: '{{_title_}}', width:190, align:'center', edit:'text', style:'background-color: #008B7D; color: #000;'},
                                {field: '{{_id_}}', title: '{{_title_}}', width:190, align:'center', edit:'text', style:'background-color: #F9D342; color: #000;'},
                    //      {% else %}
                                // 普通数据
                                // {field: '{{_id_}}', title: '{{_title_}}', width:190, align:'center', edit:'text', style:'background-color: #5FB878; color: #fff;'},
                                {field: '{{_id_}}', title: '{{_title_}}', width:190, align:'center', edit:'text', style:'background-color: #f0f0f0; color: #000;'},
                                // {field: '{{_id_}}', title: '{{_title_}}', width:190, edit:'text'},
                                
                    //      {% endif %}
                    // {% endfor %}

                    // 工具栏按钮（在每行的最右侧是否显示工具栏按钮）
                        // {title:'编辑', fixed: 'right', width:80, align:'center', toolbar: '#cellBar'}
                ]]
            });

            // 监听单元格编辑事件
            table.on('edit(_MAIN_TABLE_RENDER_FILTER_)', function(obj){ 
                // console.log(obj.value);  //案例：得到修改后的值
                // console.log(obj.field);  //案例：当前编辑的字段名
                // console.log(obj.data);   //案例：所在行的所有相关数据  

                // 检查更改是否为空（或者全部为&nbsp；如果是则不作处理）
                var enable_space_check = false      //是否不提交空值
                var modified_value = obj.value;     //数据
                while(modified_value.search(' ') != -1){modified_value = modified_value.replace(' ','');}
                if(modified_value.length != 0 || !enable_space_check){

                    //从单元格监听器获得数据
                    const request_url = "/submit"
                    var request_dict  = obj.data;
                    request_dict['table_name'] = '{{table_name}}';
                    //使用Ajax提交更改
                    $.ajax({
                        url: request_url,   //异步数据接口
                        type: "POST",       //请求类型
                        data: request_dict, //请求数据
                        dataType: "json",   //请求数据格式
                            // complete: function(){alert("Change saved !")}
                            // success : function(result){alert('Upload success')},
                            // error   : function(result){alert('Upload error')},
                    })
                    //提示更改已被保存
                    // table.reload('_MAIN_TABLE_RENDER_ID_')
                    // layer.msg('更改已经被保存', {time:1000});
                }
            });

            //监听排序事件 
            table.on('sort(_MAIN_TABLE_RENDER_FILTER_)', function(obj){ 
                // console.log(this);                                       //案例：当前排序的 th 对象 (HTNL元素)
                // console.log(obj.field);                                  //案例：当前排序的字段名
                // console.log(obj.type);                                   //案例：当前排序类型 asc/desc/null
                
                //根据当前排序的字段，重新向服务端发送请求
                table.reload('_MAIN_TABLE_RENDER_ID_', {
                    initSort: obj                   //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                    ,url: '/data/{{table_name}}'    //服务端的异步数据接口
                    ,where: {                       //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                        field: obj.field            //排序字段
                        ,order: obj.type            //排序方式
                    }
                });
                
                //弹窗提示数据已经重新加载
                // layer.msg('服务端排序。<br> 排序列:'+ obj.field + '， 排序方式:' + obj.type, {time:1000});
            });
           
            //当前用户全量导出
            var deviceTotal = parseInt("{{number_of_rows}}");
            var dataExport = new Array;
            function exportData(obj, offset, limit, format) {
                //请求所有数据
                $.ajax({
                    type: 'get',
                    url: '/data/{{table_name}}',
                    dataType: 'json',
                    data: {
                        // 'domain': domainname,
                        'page': offset+1,
                        'limit': limit,
                    },
                    success: function (res) {
                        // debugger
                        dataExport = dataExport.concat(res.data);
                        var a = dataExport.length
                        var b = deviceTotal

                        if (dataExport.length >= deviceTotal) {
                            layer.close(indexload)
                            // table.config[obj.config.id] = "123"
                            // var config = table.config[id]
                            // var id = obj.config.id
                            // table.config[id] = {"title" : "123"}
                            // console.log(table.config)
                            table.exportFile(obj.config.id, dataExport, format, '123');
                        }
                    }
                });
            }


            //头工具栏事件
            table.on('toolbar(_MAIN_TABLE_RENDER_FILTER_)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                 
                    //自定义头工具栏 - 全量导出（XLXS格式）
                    case 'LAYTABLE_EXPORTALL_XLXS':
                        layer.confirm("是否要导出当前用户数据? <br> (为.xlxs格式)", {
                            icon: 3,
                            btn: ["确定", "取消"]
                        }, function (layerIndex) {
                            layer.close(layerIndex);
                            indexload = layer.load(2, {
                                 content: '正在导出...<br>(为.xlsx格式)',
                                icon: 16,
                                success: function (layero) {
                                    layero.find('.layui-layer-content').css({
                                        'paddingTop': '40px',
                                        'width': '100px',
                                        'textAlign': 'center',
                                        'backgroundPositionX': 'center'
                                    });
                                }
                            });
                            var deviceTotal = parseInt("{{number_of_rows}}");
                            var datalength = deviceTotal;
                            if (datalength > 0) {
                                for (var i = 0; i < Math.ceil(datalength / 1000); i++) //
                                {
                                    exportData(obj, i * 1000, 1000, 'xlsx')
                                }
                            }
                        });
                    break;

                    //自定义头工具栏 - 全量导出（CSV格式）
                    case 'LAYTABLE_EXPORTALL_CSV':
                        layer.confirm("是否要导出当前用户数据?<br> (为.csv格式)", {
                            icon: 3,
                            btn: ["确定", "取消"]
                        }, function (layerIndex) {
                            layer.close(layerIndex);
                            indexload = layer.load(2, {
                                content: '正在导出...<br>(为.csv格式)',
                                icon: 16,
                                success: function (layero) {
                                    layero.find('.layui-layer-content').css({
                                        'paddingTop': '40px',
                                        'width': '100px',
                                        'textAlign': 'center',
                                        'backgroundPositionX': 'center',
                                    });
                                }
                            });
                            var deviceTotal = parseInt("{{table_meta['count']}}");
                            var datalength = deviceTotal;
                            if (datalength > 0) {
                                for (var i = 0; i < Math.ceil(datalength / 1000); i++) //
                                {
                                    exportData(obj, i * 1000, 1000, 'csv')
                                }
                            }
                        });
                    break;
                };
            });
        });
        
    </script>

    <!-- 多选单元格渲染模版 -->
    <script type="text/html" id="multiSelectTpl">
        <!-- 必须有div否则模版无法识别 -->
        <div> ==Placeholder== {{"{{#console.log(d.title)}}"}}<a href="" class="\multiChoice\"> {{ "{{# console.log(d); }}" }} </a> </div><form action=""></form>
    </script>
</body>
</html>