<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- ====================================================== -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='/layui/dist/css/layui.css') }}"  media="all">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <!-- 居中的样式设置 -->
    <style type="text/css">
        .table_mask {
            position: relative;
            height: 1080px;}
        .table_center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1920px;
            height: 1000px;
        }
    </style>
    <!-- ====================================================== -->
    <title>Excel Online</title>
    
</head>
<body>
    <div style="padding: 20px; background-color: #ffffff;">
        <form action="/table/all" method="get" style="padding-left: 10px;">
            <button style="display: inline; float: left;" type="submit" class="layui-btn layui-btn-primary layui-btn-m layui-btn-radius" lay-submit="" lay-filter="demo1"> 返回全部表格 </button>
        </form>
        <br>

        <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
            <legend>表格数据</legend>
            <div class="table_mask">
                <div class="table_center">
                    <!-- 以上为居中设置 -->

                    <table id="table_present" lay-filter="table_filter"></table>

                    <!-- 以下为居中设置 -->
                </div>
            </div>
        </fieldset>
    </div>


<!-- layui的默认js文件 (包含一些基本的animation) -->
<script src="{{ url_for('static', filename='/layui/dist/layui.js') }}" charset="utf-8"></script>

<!-- Html表格的自动渲染设置 -->
<script>
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#table_present'
        
        //高宽设置
            //--------------------------------------------------
            ,width:  1920
            ,height: 950
            
        //分页
            //--------------------------------------------------
            // ,page: true                    //开启分页
            // ,limit: 10                     //每页条数

        //数据接口
            //--------------------------------------------------
            ,url: '/data/{{table_name}}'   //数据接口
            // 将数据接口返回数据,解析成 table 组件所规定的数据格式
            // ,parseData: function(res){ //res 即为原始返回的数据
                // return {
                    // "code": res.status,     //解析接口状态
                    // "msg": res.message,     //解析提示文本
                    // "count": res.total,     //解析数据长度
                    // "data": res.data.item   //解析数据列表
                    // };}
        
        //表头设置     
            //--------------------------------------------------
            ,cols: [[         
                // {% for _id_,_title_ in column_dict.items() %}
                //      {% if _title_ == '_id' %}
                            // 隐藏每行特殊的 UUID (不是行号 !!!!)
                            {field: '{{_id_}}', title: '{{_title_}}', hide:true}, 
                //      {% elif _title_ == authorization_title %}
                            // 每行的行号 (通过authorization_title参数获得)
                            {field: '{{_id_}}', title: '{{_title_}}', width:110, sort: true, unresize:true, align:'center', fixed: 'left'},
                //      {% elif _title_ == operator_title[0] %}
                            // 操作员姓名
                            {field: '{{_id_}}', title: '{{_title_}}', width:110, sort: true, unresize:true, align:'center', fixed: 'right'},
                //      {% elif _title_ == operator_title[1] %}
                            // 操作员时间
                            {field: '{{_id_}}', title: '{{_title_}}', width:200, sort: true, unresize:true, align:'center', fixed: 'right'},
                //      {% else %}
                            // 普通数据
                            {field: '{{_id_}}', title: '{{_title_}}', width:190, edit:'text'},
                //      {% endif %}
                // {% endfor %}
                // 工具栏按钮
                // {title:'编辑', fixed: 'right', width:80, align:'center', toolbar: '#cellBar'}
            ]]
            ,initSort:{field:'{{authorization_title}}', type:'asc'}
        });
        
        table.on('edit(table_filter)', function(obj){ 
            // 案例
                // console.log(obj.value); //得到修改后的值
                // console.log(obj.field); //当前编辑的字段名
                // console.log(obj.data);  //所在行的所有相关数据  

            // 检查更改是否为空
            var modified_value = obj.value;
            while(modified_value.search(' ') != -1){modified_value = modified_value.replace(' ','');}
            if(modified_value.length != 0){

                // 获得数据
                const request_url = "/none_here_for_now_try_to_throw_you_off"
                var request_dict  = obj.data;
                request_dict['table_name'] = '{{table_name}}';
                
                // 提交更改
                $.ajax({
                    url: request_url,
                    type: "POST",
                    data: request_dict,
                    dataType: "json",
                        // complete: function(){alert("Change saved !")}
                        // success : function(result){alert('Upload success')},
                        // error   : function(result){alert('Upload error')},
                })
            }
        });
        
    });
</script>

<!-- 没行最后的 工具栏按钮 的 设置 -->
<script type="text/html" id="cellBar">
    <!-- <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a> -->
    <a class="layui-btn layui-btn-xs" lay-event="edit">提交更改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 每行最后 的 工具栏按钮 的 监听器(这里是网站节选的范例) 要写到表格渲染的函数里-->
<!-- <script>
    table.on('tool(table_filter)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    var data = obj.data; //获得当前行数据
    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
    var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
    
    if(layEvent === 'detail'){ //查看
        //do somehing
    } else if(layEvent === 'del'){ //删除
        layer.confirm('真的删除行么', function(index){
        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
        layer.close(index);
        //向服务端发送删除指令
        });
    } else if(layEvent === 'edit'){ //编辑
        //do something
        
        //同步更新缓存对应的值
        obj.update({
        username: '123'
        ,title: 'xxx'
        });
    } else if(layEvent === 'LAYTABLE_TIPS'){
        layer.alert('Hi，头部工具栏扩展的右侧图标。');
    }
    });
</script> -->

<!-- 单元格更改 的 监听器 (这里是网站节选的范例) 要写到表格渲染的函数里-->
<!-- <script>
    var table = layui.table;
    //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
    table.on('edit(table_filter)', function(obj){ 
        console.log(obj.value); //得到修改后的值
        console.log(obj.field); //当前编辑的字段名
        console.log(obj.data); //所在行的所有相关数据  
    });
</script> -->





</body>
</html>