<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel Online</title>
</head>
<body>
    <div>
        <h2>表单数据</h2>
        {{table_info | safe}}
    </div>
    
    <br><hr>
    <div>
        <h2>操作员</h2>
        名字: &nbsp <input type="text" name="operator_name" required readonly value={{operator_name | safe}}> <br>
        日期: &nbsp <input type="time" name="operator_date" required readonly value={{operator_date | safe}}> <br>
        时间: &nbsp <input type="time" name="operator_time" required readonly value={{operator_time | safe}}> <br>
        <br>
        <form action="{{url_for('initialize')}}" method="post">
            <input type="submit" value="退出登录">
        </form>
    </div>
</body>
</html>