<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- ====================================================== -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='/layui/dist/css/layui.css') }}"  media="all">
    <style type="text/css">
        .table_mask {
            position: relative;
            height: 1080px;}
        .table_center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1800px;
            height: 900px;
        }
    </style>
    <!-- ====================================================== -->
    <title>Excel Online</title>
</head>
<body>
    
    <div style="padding: 20px; background-color: #ffffff;">
        <button onclick="check_user_info()" type="submit" class="layui-btn layui-btn-primary layui-btn-m layui-btn-radius" style="float: right; display: inline;">{{session['operator_name']}}</button>
        <br>

        <!-- ============================================================================ -->
        <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
            <legend>表格数据</legend>
            <div style="margin-left: 30px;">
                <br>
                <div style="margin-right: 30px;">
                        <!-- <div style="float:left; position:relative; left: 50%;"> -->
                            <!-- <div style="position:relative; left: -50%;"> -->
                                <!-- {{table_info | safe}} -->
                            <!-- </div> -->
                        <!-- </div> -->

                        <!-- <div class="table_mask">
                            <div class="table_center">
                                {{table_info | safe}} 
                            </div>
                        </div> -->

                        {{table_info | safe}} 
                </div>
                <span>
                    <div id="page_component" style="display: inline; float: right; margin-right: 30px;"></div>
                    <form action="/file" method="post" id="file_form" enctype="multipart/form-data" style="display: inline; float: left; ">
                        <input type="file" accept=".xls,.xlsx" name="stuff_file"  id="selectedFile" size="60" style="display: none;">
                        <input style="display: {{file_upload_section}};" type="button" class="layui-btn " value="上传 Excel 文件" onclick="document.getElementById('selectedFile').click();" />
                    </form>
                </span>
            </div>
            <!-- <form action="/index" method="get" style="margin-left: 20px;">
                <button type="submit" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="demo1">返回主页</button>
            </form>  -->
            <br>
        </fieldset>

        <!-- ============================================================================ -->
        <!-- <br><br><hr> -->

        <span style="display: none;">
        <!-- <span> -->
            <!-- ============================================================================ -->
            <!-- <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px; margin-left: 25%;margin-right: 25%;"> -->
            <fieldset class="layui-elem-field site-demo-button" style="display: inline; width: 48%;">
                <legend>操作员</legend>
                <div>
                    <br>
                    <form class="layui-form layui-form-pane" action="/" method="post" style="margin-left: 20px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">账号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="operator_name" readonly lay-verify="required" placeholder="{{operator_name}}" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">已登陆...</div>

                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="operator_pass" readonly lay-verify="required" placeholder="{{operator_date}}" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">时间</label>
                            <div class="layui-input-inline">
                                <input id="operator_time_display" type="text" name="operator_pass" readonly lay-verify="required" placeholder="{{operator_time}}" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <button type="submit" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="demo1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;退出登录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        <br>
                        <br>
                    </form>
                </div>
            </fieldset>
            <!-- ============================================================================ -->
            <fieldset class="layui-elem-field site-demo-button" style="margin-left: 1%; display: inline; width: 48%; height: 255px;" >
                <legend>上传模版</legend>
                <div style="margin-left: 20px; margin-right: 20px;">
                    <br>
                    <form action="/file" method="post" id="file_form" enctype="multipart/form-data" >
                        <br>
                        <input type="file" accept=".xls,.xlsx" name="stuff_file"  id="selectedFile" size="60" style="display: none;">
                        <input type="button" class="layui-btn layui-btn-primary layui-btn-fluid" style="height: 170px; width: 550px; margin-left: 30px; margin-right: 30px; margin-bottom: 30px;" value="上传 Excel 文件" onclick="document.getElementById('selectedFile').click();" />
                        <br>
                        <!-- <input type="submit" class="layui-btn layui-btn-primary layui-btn-fluid" value="上传文件"> -->
                    </form>
                    <br>
                    <br>
                </div>
            </fieldset>
            <!-- ============================================================================ -->
        </span>
    </div>
    <!-- Layui默认JS -->
    <script src="{{ url_for('static', filename='/layui/dist/layui.js') }}" charset="utf-8"></script>

    <!-- 自动上传文件 -->
    <script>
        document.getElementById("selectedFile").onchange = function() {
            document.getElementById("file_form").submit();
        };
    </script>

    <!-- 自动更新时间 -->
    <script>
        var myVar=setInterval(function(){myTimer()},1000);
        function myTimer(){
            var d=new Date();
            var t=d.toLocaleTimeString();
            document.getElementById("operator_time_display").placeholder=t;
        }
    </script>
    <!-- 自动设置表格格式 -->
    <!-- <script>
        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem : '#table'
                ,url:'/table/all'
                ,cellMinWidth : 80
            });
        });
    </script> -->

    <!-- 换页组件 -->
    <script>
        layui.use('laypage', function(){
        var laypage = layui.laypage;
        laypage.render({
        elem  : 'page_component',
        curr  : '{{page_curr}}',
        limit : '{{page_limit}}', // Number of elements per page 
        count : '{{page_count}}', // Number of element in totoal (change to dynamic input)
        layout: ['limit', 'prev', 'page', 'next'],
        limits: [5,10,20],

        jump: function(obj, first){
            if(!first){
                var form = document.createElement('form');
                form.method = 'get';
                form.action = '/table/all'
        
                c_page_element = document.createElement('input');
                c_page_element.style = 'display:none;'
                c_page_element.name  = 'curr';
                c_page_element.value = obj.curr;
                
                l_page_element = document.createElement('input');
                l_page_element.style = 'display:none;'
                l_page_element.name  = 'limit';
                l_page_element.value = obj.limit
        
                form.appendChild(c_page_element)
                form.appendChild(l_page_element)
                document.body.appendChild(form)
                
                form.submit()
            }
        }
        })
    })
    </script>

    <!-- Layui弹出层JS -->
    <!-- <script src="{{ url_for('static', filename='/layui/src/lay/all.js') }}"></script> -->

    <!-- 弹出层 -->
    <script>
        // layui.use('layer', function(){ //独立版的layer无需执行这一句
        //     var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
            
        //     //触发事件
        //     var active = {
        //         setTop: function(){
        //             var that = this; 
        //             //多窗口模式，层叠置顶
        //             layer.open({
        //             type: 2 //此处以iframe举例
        //             ,title: '当你选择该窗体时，即会在最顶端'
        //             ,area: ['390px', '260px']
        //             ,shade: 0
        //             ,maxmin: true
        //             ,offset: [ //为了演示，随机坐标
        //                 Math.random()*($(window).height()-300)
        //                 ,Math.random()*($(window).width()-390)
        //             ] 
        //             ,content: '//layer.layui.com/test/settop.html'
        //             ,btn: ['继续弹出', '全部关闭'] //只是为了演示
        //             ,yes: function(){
        //                 $(that).click(); 
        //             }
        //             ,btn2: function(){
        //                 layer.closeAll();
        //             }
                    
        //             ,zIndex: layer.zIndex //重点1
        //             ,success: function(layero){
        //                 layer.setTop(layero); //重点2
        //             }
        //             });
        //         }
        //         ,confirmTrans: function(){
        //             //配置一个透明的询问框
        //             layer.msg('大部分参数都是可以公用的<br>合理搭配，展示不一样的风格', {
        //             time: 20000, //20s后自动关闭
        //             btn: ['明白了', '知道了', '哦']
        //             });
        //         }
        //         ,notice: function(){
        //             //示范一个公告层
        //             layer.open({
        //             type: 1
        //             ,title: false //不显示标题栏
        //             ,closeBtn: false
        //             ,area: '300px;'
        //             ,shade: 0.8
        //             ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
        //             ,btn: ['火速围观', '残忍拒绝']
        //             ,btnAlign: 'c'
        //             ,moveType: 1 //拖拽模式，0或者1
        //             ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">你知道吗？亲！<br>layer ≠ layui<br><br>layer只是作为Layui的一个弹层模块，由于其用户基数较大，所以常常会有人以为layui是layerui<br><br>layer虽然已被 Layui 收编为内置的弹层模块，但仍然会作为一个独立组件全力维护、升级。<br><br>我们此后的征途是星辰大海 ^_^</div>'
        //             ,success: function(layero){
        //                 var btn = layero.find('.layui-layer-btn');
        //                 btn.find('.layui-layer-btn0').attr({
        //                 href: 'http://www.layui.com/'
        //                 ,target: '_blank'
        //                 });
        //             }
        //             });
        //         }
        //         ,offset: function(othis){
        //             var type = othis.data('type')
        //             ,text = othis.text();
                    
        //             layer.open({
        //             type: 1
        //             ,offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
        //             ,id: 'layerDemo'+type //防止重复弹出
        //             ,content: '<div style="padding: 20px 100px;">'+ text +'</div>'
        //             ,btn: '关闭全部'
        //             ,btnAlign: 'c' //按钮居中
        //             ,shade: 0 //不显示遮罩
        //             ,yes: function(){
        //                 layer.closeAll();
        //             }
        //             });
        //         }
        //         };
                
        //         $('#layerDemo .layui-btn').on('click', function(){
        //         var othis = $(this), method = othis.data('method');
        //         active[method] ? active[method].call(this, othis) : '';
        //     });
        // });
    </script>
    <script>
        function check_user_info(){
            layui.use('layer', function(){
                var layer = layui.layer;
                var d=new Date();
                var account_name = "{{session['operator_name']}}"
                var account_date = d.toLocaleDateString();
                var account_time = d.toLocaleTimeString();
                layer.open({
                    title   :'用户信息'
                    ,content:
                        '账号: &nbsp; &nbsp;' + account_name + '<br>'+
                        '日期: &nbsp; &nbsp;' + account_date + '<br>'+
                        '时间: &nbsp; &nbsp;' + account_time 
                    ,btn: ['登出']
                    ,yes: function(index, layero){
                        window.location.assign('/')
                    }
                }); 
            });
        }
    </script>

</body>
</html>