<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- ====================================================== -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/dist/css/layui.css') }}"  media="all">
    <script src="{{ url_for('static', filename='jquery/min.js') }}"></script>
    <!-- ====================================================== -->
    <title>Excel Online</title>
</head>
<body>
    <div style="padding: 20px; background-color: #ffffff;">

        
        <form action="/edit/{{tb_name}}" method="get" style="padding-left: 10px;">
            <button style="display: inline; float: left;" type="submit" class="layui-btn layui-btn-primary layui-btn-m layui-btn-radius" lay-submit="" lay-filter="demo1"> 返回表格 </button>
        </form>
        <br>
        <fieldset class="layui-elem-field site-demo-button" style="margin: 10% 40%; text-align: center;">
            <!-- <legend>{{table_name}}</legend> -->
            <legend>请从以下选项选择一个作为行号的替代：</legend>
                <br>
                <!-- tb_name = {{tb_name}} <br>
                title = {{title}} <br>
                id = {{_id}} <br> -->

                <div>
                    {% for option in options%}
                    <form action="{{submit_url}}" method="get">
                        <input type="hidden" name="tb_name" value="{{tb_name}}">
                        <input type="hidden" name="choice"  value="{{option}}">
        
                        <input class="layui-btn layui-btn-primary" type="submit" value="{{option}}">
                    </form> <br>
                    {% endfor %}
                </div>
            <!-- ======================================================================== -->
        </fieldset>
        <br>
    </div>
</body>
</html>



